<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
  
	<logger name="net.ameba">
		<level value="debug" />
	</logger>
	
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	
	<logger name="org.mortbay">
		<level value="info" />
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	</root>

</configuration>